{% extends "base_view.html" %}
{% load staticfiles %}
{% load widget_tweaks%}

{% block title %}
Create Sample
{% endblock %}

{% block body %}
<div class="container graybg">
    <form action="{% url 'bulk:sample_create' %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Sample Information</legend>
            <table class="table-condensed">
                <thead>
                {% for field in form %}
                <tr>
                    <th>
                    {{field.label_tag}}
                    </th>
                    <td>
                    {{ field.errors }}
                    {{ field|attr:"data-live-search:'true'"|add_class:"selectpicker form-control" }}
                    {% if field.help_text %}
                        <p class="helptext">{{ field.help_text }}</p>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </thead>
            </table>
         </fieldset><br>
         <fieldset>
            <legend>Clinical Information</legend>
            <table class="table-condensed">
                <thead>
                {{ formset.management_form }}
                {% for f in formset %}
                    {% for hidden in f.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}  
                {% for field in f %}
                <tr>
                    {% if not field.name in no_show_fields %}
                        <th>
                        {{field.label_tag}}
                        </th>
                        <td>
                        {{ field.errors }}
                        {{ field|attr:"data-live-search:'true'"|add_class:"selectpicker form-control" }}
                        {% if field.help_text %}
                            <p class="helptext">{{ field.help_text }}</p>
                        {% endif %}
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endfor %}
                </thead>
            </table>
         </fieldset>
        <input class="btn btn-primary btn-sm" type="submit" name="create" value="Create">
        <a class="btn btn-default btn-sm" href="{% url 'bulk:sample_list' %}">Cancel</a>
    </form><br>
</div>
{% endblock %}
