{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
Workflow Run
{% endblock %}

{% block body %}
<div class="container graybg">
    <form action="{% url 'khayyam:workflow_from_run' pk=pk %}" method="POST", enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Workflow Information</legend>
            <table class="table-condensed">
                <thead>
                {% for field in run_form %}
                <tr>
                    <th>
                    {{field.label_tag}}
                    </th>
                    <td>
                    {{ field.errors }}
                    {% if field.name == "workflow" %}
                        <select class="selectpicker" id="workflow" name="workflow">
                            <option value={{workflow.pk}} selected="selected">{{workflow}}</option>
                        </select>
                    {% elif field.name == "sequencings" %}
                    <select required class="selectpicker" id="sequencings" name="sequencings">
                        {% for seq in data_list %}
                            {% if seq in data_selected %}
                            <option selected="selected" value={{seq.pk}}>{{seq}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                        <p class="helptext">{{ field.help_text }}</p>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </thead>
            </table>
        </fieldset><br>
       <fieldset>
            <legend>Kronos Settings</legend>
            <table class="table-condensed">
                <thead>
                {{kronos_formset}}
                </thead>
            </table>
        </fieldset><br>
        <input class="btn btn-primary btn-sm" type="submit" name="run" value="Run">
        <a class="btn btn-default btn-sm" href="{% url 'picasso:run_detail' pk=pk %}">Cancel</a>
    </form>
</div><br>
{% endblock %}
