{% extends "base_view.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
Workflow Run
{% endblock %}

{% block body %}
<div class="container graybg">
    <form action="{% url 'khayyam:workflow_run' %}" method="POST", enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Workflow Information</legend>
            <table class="table-condensed">
                <thead>
                {% for field in run_form %}
                <tr>
                    <th>
                    {{field.label_tag}}
                    </th>
                    <td>
                    {{ field.errors }}
                    {% if field.name == "workflow" %}
                    <select required class="selectpicker" id="workflow" data-live-search="true" name="workflow" data-none-selected-text="--------">
                        {% for wf in active_workflows %}
                        <option value={{wf.pk}}>{{wf}}</option>
                        {% endfor %}
                    </select>
                    {% elif field.name == "sequencings" %}
                    <select required class="selectpicker" data-live-search="true" id="sequencings" name="sequencings" data-none-selected-text="--------">
                        {% if sequencing_id %}
                        <option value="{{sequencing_id}}" selected="selected">{{sequencing}}</option>
                        {% else%}
                            {% for seq in data_list %}
                            <option value={{seq.pk}}>{{seq}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    {% else %}
                        {{ field|attr:"data-live-search:'true'"|add_class:"selectpicker form-control" }}
                    {% endif %}
                    {% if field.help_text %}
                        <p class="helptext">{{ field.help_text }}</p>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </thead>
            </table>
        </fieldset><br>
        <fieldset>
            <legend>Kronos Settings</legend>
            <table class="table-condensed">
                <thead>
                {{kronos_formset}}
                </thead>
            </table>
        </fieldset><br>
        <input class="btn btn-primary btn-sm" type="submit" name="run" value="Run">
        <a class="btn btn-default btn-sm" href="{% url 'khayyam:home' %}">Cancel</a>
    </form>
</div><br>
{% endblock %}
