{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
Run Details
{% endblock %}

{% block body %}
<!-- Meta Information -->
<div class="container card">
    <table class="table-condensed">
        {% for field, value in run.get_field_values.items %}
        <tr>
            <th id="thid">{{field}}:</th>
            <td id="tdid">{{value}}</td>
        </tr>
        {% endfor %}
        {% if run.rerun_at %}
        <tr>
            <th id="thid">Re-run by:</th>
            <td id="tdid">{{run.rerun_by}}</td>
        </tr>
        <tr>
            <th id="thid">Re-run on:</th>
            <td id="tdid">{{run.rerun_at}}</td>
        </tr>
        {% endif %}
    </table>
</div><br>
<!-- end of Meta Information -->

<!-- Input Data -->
<div class="container">
    <h4>Input Data</h4>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Sequencing</th>
                <th>Sample ID</th>
                <th>Chip ID</th>
                <th>Flow cell/Lane ID</th>
            </tr>
        </thead>
        <tbody>
            {% for seq in run.sequencings.all %}
            <tr>
                <td><a href="{{seq.get_absolute_url}}">{{seq}}</a></td>
                <td>{{seq.library.sample}}</td>
                <td>{{seq.library.pool_id}}</td>
                <td>{{seq.sequencingdetail.flow_cell_id}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div><br>
<!-- end of Input Data -->

<!-- Output Data -->
<div class="container">
    <h4>Output Data</h4>
    {% if run.accepted %}
        <p>You can access the results here:</p>
        <div class="table-responsive graybg pathbox">
            <p>{{output_path}}</p>
        </div><br>
        <i class="fa fa-check" aria-hidden="true" style="color:green;">Results verified by {{run.accepted_by}}</i>
        <a style="float:right; margin:5px;" href={% url "picasso:home" %}>Go to viz</a>
    {% elif run.days_to_expire > 0 %}
        <p>You can access the results here:</p>
        <div class="table-responsive graybg pathbox">
            <p>{{output_path}}</p>
        </div><br>
        <p><b>NOTE: </b>This path is temporary and will be deleted after <b>{{run.days_to_expire}} day(s)</b>. If you want to archive the results permanently please verify them and click "Accept".</p>
        {% if run.status == 'D'%}
        <form action={% url "picasso:run_detail" pk=pk%} method="POST", enctype="multipart/form-data">
            {% csrf_token %}
            <input class="btn btn-success btn-sm" type="submit" name="accept" value="Accept">
            <a style="float:right; margin:5px;" href={% url "picasso:home" %}>Go to viz</a>
        </form>
        {% else %}
        <p><b>NOTE: </b>You cannot visualize or accept the results since the run has not finished successfully.</p>
        {% endif %}
        </div>
    {% else %}
            <p>Results expired without verification and were discarded.</p>
    {% endif %}

</div><br>
<!-- end of Output Data -->

<!-- Kronos Settings -->
<div class="container">
    <h4>Kronos Settings</h4>
    <table class="table-condensed">
        {% for field, value in run.kronos.get_field_values.items %}
        <tr>
            <th id="thid">{{field}}:</th>
            <td id="tdid">{{value}}</td>
        </tr>
        {% endfor %}
    </table>
</div><br>
<!-- end of Kronos Settings -->

<!-- footer bottons -->
<div class="container" style="margin-bottom: 5px;">
    <form action="{% url 'khayyam:workflow_re_run' pk=run.pk %}" method="POST", enctype="multipart/form-data" style="float:left; margin-right:4px;">
        {% csrf_token %}
        {% if run.status == "F" or run.status == "S" %}
        <input class="btn btn-primary btn-sm" type="submit" name="rerun" value="Re-run">
        {% else %}
        <input class="btn btn-primary btn-sm" type="submit" name="rerun" value="Re-run" disabled>
        {% endif %}
    </form>
        {% if user.is_superuser and is_running or is_authorized and is_running %}
        <a class="btn btn-danger btn-sm" href="{% url 'khayyam:workflow_stop' pk=run.pk %}">Stop</a>
        {% else %}
        <a class="btn btn-danger btn-sm" disabled>Stop</a>
        {% endif %}
        <a style="float:right; margin:5px;" href={% url "picasso:run_list" %}>List of runs</a>
</div><br>
<!-- end of footer bottons -->
{% endblock %}
