{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
List of Runs
{% endblock %}
{% block body %}
<div class="container" style="padding:0; margin-bottom:5px;">
    <h4 style="float:left;">Select a run to view its details</h4>
    <a class="btn btn-primary btn-sm" style="float:right; margin-top:5px;" href="{% url 'khayyam:workflow_run' %}">New run</a>
</div>
<div class="container" style="background-color:#F5F5F5;">
    <div class="table-responsive">
        <table id="datatable" class="table table-striped"">
            <thead>
                <th>Run ID</th>
                <th>Workflow</th>
                <th>Sequencing</th>
                <th>Date</th>
                <th>Status</th>
            </thead>
            <tbody>
                {% for run in runs %}
                <tr>
                    <td><a href="{{run.get_absolute_url}}">{{run.run_id}}</a></td>
                    <td>{{run.get_workflow_display}}</td>
                    {% for seq in run.sequencings.all %}
                    <td><a href="{{seq.get_absolute_url}}">{{seq}}</a></td>
                    {% endfor %}
                    <td>{{run.date}}</td>
                    <td>{{run.get_status_display}}</td>
                </tr>
                {% endfor %}
            </tbody>    
        </table>
    </div>
</div>
{% endblock %}